/* body{

    
    background-color: rgb(101, 88, 101);
} */

*{
    margin: 0 !important;
    padding: 0 !important;
    text-decoration: none !important;
    /* background-color: rgb(101, 88, 101) !important; */


}
.container{
    display: flex !important;

}
main{
    width: 100%;
    padding: 20px;

}
.sidebar{
    background: rgb(101, 88, 101)  !important;
    color: white;
    height: 100vh;
    width: 200px !important;
    transition: all 0.5s !important;

}
.topsection{
    margin-top: 1px !important;
    display: flex;
    align-items: center;
    padding: 20px 15px !important;
   
    
  
   
}
.logo{
    font-size: 20px;
    margin-left: 10px !important;
    font-style: italic;

}
.bars{
    display: flex;
    font-size: 30px;
    margin-left: 0px !important
}
.settings{
    margin-left: 63px !important;
}
.link{
    display: flex;
    color: white;
    padding: 10px 15px !important;
    gap: 10px;
    transition: all 0.5s;

}
.link:hover{
    background: lightskyblue;
    color: black;
    transition: all 0.5s;

}
.active{
    background: lightskyblue;
    color: black;

}
.icon, .linktext{
    font-size: 13px;
    margin-top: 5px !important;


}
.tablecontainer{
    margin-left: 15px !important;
    width: 100%;
    margin-top: 25px !important;
}
.topcontainer{
    margin-top: 15px !important;
    margin-left: 15px !important;
    width: 100%;

}
.topsubcontainer{
    background-color: rgb(101, 88, 101);
}
.toptablecontainer{
    display: flex;
flex-direction: column;}

.dropdowncontainer{
    display: flex;
    gap: 10px !important;
    
    
}
.dropdown{

    /* background-color:black !important; */

}


